################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs/PicToGif/v15/Server/sqlite3
